<h2>Добавьте новую статью</h2>

<form action ='/new' method='POST'>

<label>Введите описание</label>
<textarea class="form-control" rows="6" placeholder="Введите ваш текст" name="content"></textarea>
<br>

<button type="submit" class="btn btn-primary">Submit</button>

</form>